.promo {
  font: 0/0 a;

  width: 1336px;
  height: 494px;
}

.promo-description {
  display: inline-block;
  vertical-align: top;
  line-height: 454px;

  color: #fff;

  width: 570px;
  height: 100%;
  padding: 20px 30px 20px 52px;
  box-sizing: border-box;

  background-color: #dc3545;
}

.promo-text-wrapper {
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}

.description-title {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.4px;

  margin: 0;
}

.description-text {
  font-family: 'Inter', Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  line-height: 1.78;
  font-weight: 400;

  display: -webkit-box;

  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin: 12px 0 0;
}

.description-link {
  display: inline-block;

  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #fff;
  text-decoration: none;

  margin-top: 24px;
}

.description-link:hover {
  text-decoration: underline;
}

.promo-img-wrapper {
  display: inline-block;

  font-family: 'Inter', Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  line-height: 1.78;
  font-weight: 400;

  width: 766px;
}

.description-link-icon {
  position: relative;
  top: 6px;

  margin-left: 4px;
}

.promo-img-wrapper {
  position: relative;
  height: 100%;

  background-color: #e8b75a;
}

.promo-play-button {
  position: absolute;
  top: 50%;
  left: 50%;

  color: #121212;

  transform: translate(-50%, -50%);
  cursor: pointer;

  transition: color 0.15s;
}

.promo-play-button:hover {
  color: #545454;
}

.promo-play-button:active {
  color: #737373;
}
